.jumbotron {
  font-family: 'Muli', sans-serif;
  text-align: center;
}

body {
  font-family: 'Muli', sans-serif;
}

.home-link {
  align: center;
}

img {
  height: 7%;
  width: 7%;
}

a {
  color: black;
}

a:hover {
  color: grey;
}
