<header class = "jumbotron">
  <h1>Epicodus Q&A Message Board</h1>
  <div class="home-link">
    <img src="/images/code.jpg" alt="code-img"/><br>
    {{#link-to 'index'}}Home{{/link-to}}
  </div>

</header>

<div class="container">
  {{outlet}}
</div>

<hr>
